@{
    ViewData["Title"] = "About Us";
}
<h1>@ViewData["Title"]</h1>

<p>We are the Ginyu Force, the strongest warriors in Lord Frieza’s Army! It is our great pleasure to announce Ginyu Tokusentai Sushi's first franchise on Planet Earth, debuting in the lovely humid city of Montreal. After losing our Namekian location to an unknown disaster, we decided that Earth would be a wonderful place to share our love of affordable and delicious sushi. For centuries we have dutifully served our Master in battle. We look forward to providing this same level of service to our French-Canadian brothers, while maintaining a deep-rooted commitment to customer satisfaction.</p>
<img src="https://github.com/EricHamelin89/images/blob/main/captain.png?raw=true" alt="">
<p>Ginyu:  Captain Ginyu is the strict but loyal captain of the elite special forces platoon, the eponymous Ginyu Force. Ginyu is an honorable, yet merciless fighter who constantly strikes poses. He possesses the ability to swap bodies.</p>

<img src="https://github.com/EricHamelin89/images/blob/main/jeice.png?raw=true" alt="">
<p>Jeice: Jeice is Ginyu’s second in command and fighting partner of Burter. Being a red-skinned alien humanoid from space Australia. He is an extremely flamboyant and showy white-haired mutant. Nicknamed the “Red Magma”, he often pairs with Burter for combination attacks, such as the Purple Comet Attack.</p>

<img src="https://github.com/EricHamelin89/images/blob/main/recoome.png?raw=true" alt="">
<p>Recoome: His name is Recoome, and it rhymes with doom. He is the most flamboyant member as he seen striking poses more often in battle than Captain Ginyu himself and generally behaving in a deceptively goofy manner.</p>

<img src="https://github.com/EricHamelin89/images/blob/main/burter.png?raw=true" alt="">
<p>Burter: Is the fastest member of the Ginyu (Although this can’t be true as both Captain Ginyu and Lord Frieza both a have much higher power level than Burter). Being nicknamed the “Blue Hurricane”, he often performs combo attacks with Jeice, such as the Purple Comet Hurricane. He is very arrogant, boastful, and tends to talk down to his opponents.</p>

<img src="https://github.com/EricHamelin89/images/blob/main/guldo.jpg?raw=true" alt="">
<p>Guldo: Is the smallest and least physically powerful member of the Ginyu Force. Guldo possesses some psychic abilities, including being able to stop time for as long as he can hold his breath; this seems to be the primary reasons he has attained membership to the Ginyu Force. In battle, Guldo is cowardly, and desperate, resorting to different tactics to defeat his enemies. He doesn’t like being thrown dog biscuits (Screw you Vegeta).</p>




